body {
    background-color: #FFE943;
}

nav {
    background-color: #f4df43;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.lists {
    margin: 0;
}

.collapsible-header {
    background-color: transparent;
}

.square {
    /*background: #000;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand-logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    max-height: 50px;
}

#slide-out {
    font-family: 'Lato', sans-serif;
    color: #643E4C !important;
}

nav ul a {
    font-family: 'Lato', sans-serif;
    color: #643E4C;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
    color: #643E4C;
}

.intro {
    text-align: center;
}

.page-footer {
    background-color: #643E4C;
}


@media only screen and (min-width: 990px) {
    .nav-wrapper {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 990px) {
    #brand-logo {
        background-position: center;
    }
}


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }