{% extends 'base.html' %} {% block content %}
<h3>Add Smoothie</h3>
<div class="row brown-text">

    <!-- Form Action calls 'insert_smoothie' Python function which writes a recipe to the Database-->
    <form action="{{ url_for('insert_smoothie') }}" method="POST" class="col s12">

        <!-- Choose pre existing, preloaded Smoothie category -->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <select id="categories" name="category_name">
                <option value="" disabled selected>Choose Category</option>
                {% for cat in categories %}
                    <option value="{{cat.category_name}}" data-icon="/static/images/{{cat.category_name}}.svg">{{cat.category_name}}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <!-- Or Add a New Category -->
        <div class="row center col s12 m12 l8 offset-l2">
            <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn">
                <i class="material-icons right">local_drink</i>Or Add a New Category
            </a>
        </div>

        <!-- Add Smoothie name-->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <input id="smoothie_name" name="smoothie_name" type="text">
                <label for="icon_prefix">Smoothie Name</label>
            </div>
        </div>

        <!-- Add Smoothie description-->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <textarea id="description" name="description" type="text" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Smoothie Description</label>
            </div>
        </div>

        <!-- Add Smoothie ingredients-->
        <div class="row">
            <p class="center">Enter your Smoothie ingredients. Hit return after each one.</p>
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <textarea id="ingredients" name="ingredients" type="text" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Smoothie Ingredients</label>
            </div>
        </div>

        <!-- Add Smoothie method-->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <textarea id="method" name="method" type="text" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Smoothie Method</label>
            </div>
        </div>

        <!-- Add calories-->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <input id="calories" name="calories" type="number" class="validate" />
                <label for="number">Enter calories</label>
            </div>
        </div>

        <!-- keywords for search-->
        <div class="row">
            <p class="center">Enter keywords so that your Smoothie recipe can be found. Hit return after each one.</p>
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <textarea id="keyword_search" name="keyword_search" type="text" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Search Keywords</label>
            </div>
        </div>

        <!-- Button to Add Smoothie to the database-->
        <div class="row center">
            <!--<button class="btn waves-effect waves-light" type="submit" name="action">Add Smoothie-->
            <button class="btn-large waves-effect waves-light" type="submit">Add Smoothie
                <i class="material-icons right">local_drink</i>
             </button>
        </div>

    </form>
</div>

{% endblock %}