<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:900">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    </head>

    <body>

    <header>
    
        <nav>
            <div class="nav-wrapper">
            <a href="{{ url_for('get_smoothies') }}" class="brand-logo"><img src="/static/images/logo.svg" class="smoothie-logo"></a>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_smoothies') }}">Home</a></li>
                    <li><a href="{{ url_for('get_categories') }}">View Categories</a></li>
                    <li><a href="{{ url_for('add_smoothie') }}">Add Smoothie</a></li>
                </ul>
            </div>
        </nav>
    
        <ul id="slide-out" class="sidenav">
            <li><a href="{{ url_for('get_smoothies') }}">Home</a></li>
            <li><a href="{{ url_for('get_categories') }}">View Categories</a></li>
            <li><a href="{{ url_for('add_smoothie') }}">Add Smoothie</a></li>
        </ul>
    
    </header>
    
    <main class="container">
        <div class="intro">
            <h4>Fancy a Smoothie? We've got tons of recipes.</h4>
            <h6>And if we don't have your favourite, feel free to add it to our Smoothie DB</h6>
        </div>
        
        {% block content %}
        {% endblock %}
        
    </main>
        
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <h4 class="white-text">Who doesn't like Smoothies?!</h4>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">&copy; 2019 Barry Cunningham<br/>
                <a href="https://www.facebook.com/cunnbarry" target="_blank"><img src="/static/images/facebook.png" class="social"></a>
                <a href="https://twitter.com/barra1212" target="_blank"><img src="/static/images/twitter.png" class="social"></a>
                <a href="https://www.linkedin.com/in/barry-cunningham-44010450/" target="_blank"><img src="/static/images/linkedin.png" class="social"></a>
            </div>
        </div>
    </footer>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function() {
                
                // Slide our Side Nav
                $('.sidenav').sidenav();
                
                // Enable choosing from categories
                $('select').formSelect();

                // Add smoothie in modal window
                $('.modal').modal();
                
            });
            
            $(function() {
                $("tricky").on({
                    mouseover: function() {
                        $(this).css({
                            left: (Math.random() * 500) + "px",
                            top: (Math.random() * 500) + "px",
                        });
                    }
                });
            });
            
            
        </script>
                
    </body>

</html>