{% extends 'base.html'%} {% block content %}

<div class="row">

    <h3>Categories</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for category in categories %}
        <li>
            <div class="col s6 m3 l2">
                
                <div>
                    <img src="/static/images/{{category.category_name}}.svg" class="responsive-img add-smoothie-max">
                </div>

                <div>
                    <h4>{{category.category_name}}</h4>
                </div>

                <form action="{{url_for('delete_category', category_id=category._id)}}" method="POST">
                    <button type="submit" class="waves-effect waves-light btn btn_small">Del</button>
                </form>

                <!--<a href="" class="waves-effect waves-light btn btn_small blue">Edit</a>-->
                    
            </div>
        </li>
        {% endfor %}

    </ul>
</div>

<div class="row">
    <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add Category
    </a>
</div>

{% endblock %}