{% extends 'base.html'%} {% block content %}

<div class="row">
    <h3>Categories</h3>
    <ul>
        {% for category in categories|sort(attribute='category_name') %}
        
        <li>
            <div class="col s6 m3 l2">
                
                <div>
                    <img src="/static/images/{{category.category_name}}.svg" class="responsive-img smoothie-icon-max"  onerror="this.src='/static/images/default-img.svg'" title="{{category.category_name}}" alt="{{category.category_name}}">
                </div>

                <div>
                    <h6 class="category-title">{{category.category_name}}</h6>
                </div>

                <!-- DELETE FUNCTION WORKS. UNCOMMENT IF YOU WISH TO DELETE A SMOOTHIE CATEGORY -->
                <!--<form class="center" action="{{url_for('delete_category', category_id=category._id)}}" method="POST">-->
                <!--    <button type="submit" class="waves-effect waves-light btn btn_small">Delete</button>-->
                <!--</form>-->

            </div>
        </li>
        {% endfor %}
        <li>
            <div class="col s6 m3 l2">
                <a href="{{ url_for('add_category') }}">
                  <img src="static/images/addsmoothie.svg" class="responsive-img smoothie-icon-max">
                </a>
                <br/>
                <a href="{{ url_for('add_category') }}">
                    <h6>Add Category</h6>
                </a>
            </div>
        </li>

    </ul>
</div>

{% endblock %}