{% extends 'base.html'%} {% block content %}

<h3>Edit Smoothie</h3>
<div class="row">
    
    <form action="{{ url_for('update_smoothie', smoothie_recipes_id=smoothie._id) }}" method="POST" class="col s12">
        <!-- Edit Smoothie category -->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">poll</i>
                <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      {% if cat.category_name == smoothie.category_name%}
                      <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                      {% else %}
                       <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label>Smoothie Category</label>
            </div>
        </div>

        <!-- Or Add a New Category -->
        <div class="row center col s12 m12 l8 offset-l2">
            <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn">
                <i class="material-icons right">local_drink</i>Or Add a New Category
            </a>
        </div>

        <!-- Edit Smoothie name-->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <input id="smoothie_name" name="smoothie_name" value="{{smoothie.smoothie_name}}">
                <label for="icon_prefix">Smoothie Name</label>
            </div>
        </div>
        
        <!-- Edit Smoothie description-->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <textarea id="description" name="description" class="materialize-textarea">{{smoothie.description}}</textarea>
                <label for="icon_telephone">Smoothie Description</label>
            </div>
        </div>
        
        <!-- Edit Smoothie ingredients-->
        <div class="row">
            <p class="center">Edit your Smoothie ingredients. Hit return after each one.</p>
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <textarea id="ingredients" name="ingredients" type="text" class="materialize-textarea">
                    {{smoothie.ingredients}}</textarea>
                <label for="icon_telephone">Smoothie Ingredients</label>
            </div>
        </div>
        
        <!-- Add Smoothie method-->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <textarea id="method" name="method" type="text" class="materialize-textarea">{{smoothie.method}}</textarea>
                <label for="icon_telephone">Smoothie Method</label>
            </div>
        </div>
        
        <!-- Add calories-->
        <div class="row">
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <input id="calories" name="calories" type="number" class="validate" value="{{smoothie.calories}}"/>
                <label for="number">Enter calories</label>
            </div>
        </div>
        
        <!-- keywords for search-->
        <div class="row">
            <p class="center">Enter keywords so that your Smoothie recipe can be found. Hit return after each one.</p>
            <div class="input-field col s12 m12 l8 offset-l2">
                <i class="material-icons prefix">local_drink</i>
                <textarea id="keyword_search" name="keyword_search" type="text" class="materialize-textarea">{{smoothie.keyword_search}}</textarea>
                <label for="icon_telephone">Search Keywords</label>
            </div>
        </div>

        <!-- Submit button-->
        <div class="row center col s12 m12 l8 offset-l2">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Smoothie
                <i class="material-icons right">local_drink</i>
             </button>
        </div>
        
    </form>
    
</div>

{% endblock %}