{% extends 'base.html'%} {% block content %}

<!-- Modal Trigger -->
<div class="row">
  <div class="col s6 m3 l2">
    <p><a class="modal-trigger" href="#modal1" title={{smoothie_recipes.smoothie_name}}>
    <img src="static/images/banana.png" class="responsive-img"></img></a></p>
  </div>

  <div class="col s6 m3 l2">
    <p><a href="{{ url_for('add_smoothie') }}">
    <img src="static/images/addsmoothie.png" class="responsive-img"></img></a></p>
  </div>
</div>                
              
<!-- Modal Structure -->
<div id="modal1" class="modal">
  {% for smoothie_recipes in smoothie_recipes %}
  <div class="modal-content">
    <span>
<h4>{{smoothie_recipes.smoothie_name}}</h4><br/>
          
          <strong>Description - </strong>{{smoothie_recipes.description}}<br/>
          
          <strong>Ingredients - </strong><br/>
          {% for ingredient in smoothie_recipes.ingredients %}
            <ol class="lists">{{ ingredient }}</ol>
          {% endfor %}

          <strong>Method - </strong>{{smoothie_recipes.method}}<br/>

          <strong>Calories - </strong>{{smoothie_recipes.calories}}<br/>

          <strong>Keywords for Search - </strong><br/>
          {% for keywords in smoothie_recipes.keyword_search %}
            <ol class="lists">{{ keywords }}</ol>
          {% endfor %}  </span>
  </div>
  {% endfor %}
</div>

{% endblock %}