{% extends 'base.html'%} {% block content %}

<div class="row">
  <form action="{{ url_for('search') }}" method="POST" class="col s8 offset-s2">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input id="keyword_search" name="keyword_search" type="text">
        <label>Search</label>
      </div>
    </div>
    <div class="row center">
      <button class="btn waves-effect waves-light" type="submit">Search</button>
    </div>
  </form>
</div>

<div class="row">
  <h3>Smoothies</h3>
  <ul>
    {% for smoothie_recipes in smoothie_recipes|sort(attribute='category_name')|sort(attribute='upvotes', reverse=True) %}
    <li>
      <div class="col s6 m3 l2">

        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#{{smoothie_recipes._id}}">
        <img src="/static/images/{{smoothie_recipes.category_name}}.svg" class="responsive-img smoothie-icon-max" onerror="this.src='/static/images/default-img.svg'" title="{{smoothie_recipes.smoothie_name}}" alt="{{smoothie_recipes.smoothie_name}}">
        </a>
        <br/>
        <a class="modal-trigger category-title" href="#{{smoothie_recipes._id}}">
          <h6>{{smoothie_recipes.category_name}}</h6>
        </a>

        <!-- Modal Structure -->

        <div id="{{smoothie_recipes._id}}" class="modal modal-fixed-footer">

          <div class="modal-content">

            <div class="row">
              <div class="col s12">
                <h4>{{smoothie_recipes.smoothie_name}}</h4>
              </div>

              <div class="col s12 m6 l4">
                <p><strong>Description - </strong>{{smoothie_recipes.description}}</p>
                <p><strong>Method - </strong>{{smoothie_recipes.method}}</p>
              </div>

              <div class="col s12 m6 l4">
                <img src="/static/images/{{smoothie_recipes.category_name}}.svg" class="responsive-img smoothie-icon-max" onerror="this.src='/static/images/default-img.svg'" title="{{smoothie_recipes.smoothie_name}}" alt="{{smoothie_recipes.smoothie_name}}">
              </div>

              <div class="col s12 m6 l4">
                <strong>Ingredients - </strong><br/> {% for ingredient in smoothie_recipes.ingredients %}
                <ol>{{ ingredient }}</ol>
                {% endfor %}
              </div>

              <div id="keywords" class="col s12">
                CALORIES -&nbsp;{{smoothie_recipes.calories}}
              </div>

              <div id="keywords" class="col s12">
                KEYWORDS -&nbsp; {% for keywords in smoothie_recipes.keyword_search %}
                <span class="keywords">{{ keywords }},&nbsp;</span> {% endfor %}
              </div>
              
              <div class="row center col s12">
                <a href="{{ url_for('edit_smoothie', smoothie_recipes_id=smoothie_recipes._id) }}" class="waves-effect waves-light btn btn_small">Edit Smoothie Recipe</a>
              </div>

              <div class="row center col s12">
                <a href="{{ url_for('delete_smoothie', smoothie_recipes_id=smoothie_recipes._id) }}">
                <p class="delete-txt">Please don't delete without developers permission.</p></a>
                <tricky>
                <a href="{{ url_for('delete_smoothie', smoothie_recipes_id=smoothie_recipes._id) }}" class="waves-effect waves-light btn btn_small delete-btn">Delete Smoothie</a>
                </tricky>
              </div>

            </div>

          </div>

          <div class="modal-footer">
            <a href="{{ url_for('upvote', smoothie_recipes_id=smoothie_recipes._id) }}" class="modal-close">
              <h6 class="upvote-text">Like this recipe?
                <span><img src="/static/images/upvote.svg" class="upvote-img"></span> Give it your thumbs up!</h6>
            </a>
          </div>

        </div>

      </div>
    </li>
    {% endfor %}
    <li>
      <div class="col s6 m3 l2">
        <a href="{{ url_for('add_smoothie') }}">
          <img src="static/images/addsmoothie.svg" class="responsive-img smoothie-icon-max">
        </a>
        <br/>
        <a href="{{ url_for('add_smoothie') }}">
          <h6>Add Smoothie</h6>
        </a>
      </div>
    </li>
  </ul>
</div>

{% endblock %}