{% extends 'base.html'%} {% block content %}

<div class="row">
  <ul>

    {% for smoothie_recipes in smoothie_recipes|sort(attribute='category_name') %}
    
    
    <li>
      <div class="col s6 m3 l2">

        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#{{smoothie_recipes._id}}">
        <img src="/static/images/{{smoothie_recipes.category_name}}.svg" class="responsive-img smoothie-icon-max" onerror="this.src='/static/images/default-img.svg'" title="{{smoothie_recipes.smoothie_name}}" alt="{{smoothie_recipes.smoothie_name}}">
        </a>
        <br/>
        <a class="modal-trigger category-title" href="#{{smoothie_recipes._id}}">
          <h6>{{smoothie_recipes.category_name}}</h6>
        </a>

        <!-- Modal Structure -->

        <div id="{{smoothie_recipes._id}}" class="modal">
          <div class="modal-content">
            <h4>{{smoothie_recipes.smoothie_name}}</h4><br/>

            <strong>Description - </strong>{{smoothie_recipes.description}}<br/>

            <strong>Ingredients - </strong><br/> {% for ingredient in smoothie_recipes.ingredients %}
            <ol>{{ ingredient }}</ol>
            {% endfor %}

            <strong>Method - </strong>{{smoothie_recipes.method}}<br/>

            <strong>Calories - </strong>{{smoothie_recipes.calories}}<br/>

            <strong>Keywords for Search - </strong><br/> {% for keywords in smoothie_recipes.keyword_search %}
            <ol>{{ keywords }}</ol>
            {% endfor %}
          </div>
        </div>

      </div>
    </li>
    {% endfor %}
    <li>
      <div class="col s6 m3 l2">
        <a href="{{ url_for('add_smoothie') }}">
          <img src="static/images/addsmoothie.svg" class="responsive-img smoothie-icon-max">
        </a>
        <br/>
        <a href="{{ url_for('add_smoothie') }}"><h6>Add Smoothie</h6></a>
      </div>
    </li>
  </ul>
</div>

{% endblock %}
