{% extends 'base.html'%} {% block content %}

<div class="row">
<ul class="collapsible">
  {% for smoothie_recipes in smoothie_recipes %}
  <li>
    <div class="col s6 m3 l2 collapsible-header">
      <img src="{{smoothie_recipes.category_image}}" class="responsive-img">

<!--<img src="{{ url_for('static', filename='images/'+'{{smoothie_recipes.category_name}}'+'.svg') }}" class="responsive-img">-->
      
    </div>

    <div class="collapsible-body">
      <span>
          <h4>{{smoothie_recipes.smoothie_name}}</h4><br/>
          
          <strong>Description - </strong>{{smoothie_recipes.description}}<br/>
          
          <strong>Ingredients - </strong><br/>
          {% for ingredient in smoothie_recipes.ingredients %}
            <ol>{{ ingredient }}</ol>
          {% endfor %}

          <strong>Method - </strong>{{smoothie_recipes.method}}<br/>

          <strong>Calories - </strong>{{smoothie_recipes.calories}}<br/>

          <strong>Keywords for Search - </strong><br/>
          {% for keywords in smoothie_recipes.keyword_search %}
            <ol>{{ keywords }}</ol>
          {% endfor %}
        </span></div>
  </li>
  {% endfor %}
  <div class="col s6 m3 l2">
    <p><a href="{{ url_for('add_smoothie') }}">
    <img src="static/images/addsmoothie.svg" class="responsive-img"></img></a></p>
  </div>

</ul>
</div>

{% endblock %}